*.pyc
*.log
node_modules
coverage/
afs_demo/logs
afs_demo/export_deliverables
afs_demo/cantaloupe/*
afs_demo/staticfiles
afs_demo/media/packages
afs_demo/media/build/
afs_demo/uploadedfiles/*
afs_demo/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
